dist: trusty
sudo: false
language: node_js
node_js:
- '8.10'
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
cache:
  directories:
  - "./node_modules"
install:
- npm i npm@latest -g
- npm install
script:
- export CHROME_BIN=chromium-browser
- npm run test
notifications:
  email:
    recipients:
    - "$EMAIL_NOTIFICATION$"
    on_success: never
    on_failure: always
before_install:
#- openssl aes-256-cbc -k "$super_secret_password"
#  -in service-account.json.enc -out service-account.json -d

- echo 'test'
before_script:
- npm install -g codecov
- npm install coveralls
after_success:
- codecov
